@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-1 {
  --bgc: rgb(39, 39, 42);
  --bgc2: rgb(39 39 42 / 0.98);
  background: linear-gradient(
    120deg,
    var(--bgc) calc(50% + 1px) ,
    var(--bgc2) calc(50% - 1px)
  );
}
